<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.easen.blog.dao.LikesDao">
	<cache type="com.easen.blog.util.RedisCache" />
	<sql id="Field">
		id,userid,
		articleid,liketime,
		status
	</sql>
	<select id="findCountByArticleId" resultType="java.lang.Integer" parameterType="java.lang.String">
		select count(*)
		from likes
		where articleid = #{articleId} and status = '1'
	</select>
	<insert id="addLikes" parameterType="com.easen.blog.polo.Likes">
		insert into likes
	    (<include refid="Field"/>)
		values(UUID(), #{userId}, #{articleId}, NOW(), #{status} )
	</insert>
	<select id="findIdByUserIdAndArticleId" parameterType="com.easen.blog.polo.Likes" resultType="java.lang.String">
		select id
		from likes
		where userid = #{userId} and articleid = #{articleId}
		<!-- 查询有效赞  -->
		<if test="status != null and status != ''">
			and status = #{status}
		</if>
	</select>
	<update id="editStatus" parameterType="com.easen.blog.polo.Likes">
		update likes
		set status = 1 - status
		where userid = #{userId} and articleid = #{articleId}
	</update>
	<select id="findLikedCountByUserId" parameterType="java.lang.String" resultType="java.lang.Integer">
		select count(l.id)
		from likes l,article a 
		where a.id = l.articleid and a.userid = #{userId}
	</select>
</mapper>